@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

* {
  box-sizing: border-box;
  /* just for fun */
  user-select: none;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23424242' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  font-family: "Bungee Spice", cursive;
  text-align: center;
  display: flex;
  /* center vertically in flex */
  align-items: center;
  /* center horizontally in flex */
  justify-content: center;
}

.div1 {
  width: auto;
  max-width: 1000px;
  padding: 20px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}
